.card {
    max-width: 200px;
    max-height: 350px;
    position: relative;
    backface-visibility: hidden;
}

.front {
    width: 100%;
    height: 100%;
    border-radius: 3%
}

.cover {
    width: 200px;
    height: 350px;
    background-color: rgb(96 58 125);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3%;
}

.card-content {
    display: flex;
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in .2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: .2s;
}

.card .cover {
    transition: all ease-in .2s;
    transition-delay: .2s;
}

.flipped .cover {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

@media (max-width: 1100px) {
    .cards {
        grid-gap: 15px;
    }

    .card {
        width: 150px;
        height: 250px;
    }

    .cover {
        width: 150px;
        height: 250px;
    }
}

@media (max-width: 720px) {
    .cards {
        grid-gap: 10px;
    }

    .card {
        width: 100px;
        height: 150px;
    }

    .cover {
        width: 100px;
        height: 150px;
    }
}